header
  .header
    a(href="#")
      img(src="images/logo.svg", alt="Logo").header__logo
    nav 
      ul.navigation
        li.navigation__item
          a(href="").navigation__link.active Home
        li.navigation__item
          a(href="").navigation__link TV Shows
        li.navigation__item
          a(href="").navigation__link Movies
        li.navigation__item
          a(href="").navigation__link Series
    ul.control
      li.control__item
        button.control__btn.control__btn_search
      li.control__item
        button.control__btn.control__btn_notice
      li.control__item
        button.control__btn.control__btn_account
          button.burger
            span.burger__item 
            span.burger__item 
            span.burger__item 