@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap");
html {
  font-size: 10px;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

button:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  padding: 1.5rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.navigation__item {
  margin: 0 2.5rem;
  list-style: none;
}
.navigation__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  position: relative;
  transition: 0.2s ease color;
}
.navigation__link:hover {
  color: white;
}
.navigation__link::after {
  content: "";
  opacity: 0;
  display: block;
  width: 100%;
  height: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 5rem;
  background: rgb(50, 108, 255);
  background: linear-gradient(151deg, rgb(50, 108, 255) 0%, rgb(38, 255, 242) 100%);
}
.navigation__link.active {
  color: white;
}
.navigation__link.active::after {
  opacity: 1;
}

.control {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.control__item {
  margin-left: 7.5rem;
}
.control__item:first-child {
  margin-left: 0;
}
.control__btn {
  background-color: transparent;
  border: none;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.control__btn:hover {
  opacity: 0.6;
}
.control__btn_search {
  background-image: url(images/search.svg);
  width: 1.8rem;
  height: 1.8rem;
}
.control__btn_notice {
  background-image: url(images/notice.svg);
  width: 2.13rem;
  height: 2.35rem;
}
.control__btn_account {
  background-image: url(images/account.svg);
  width: 1.8rem;
  height: 1.92rem;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  padding-top: 5rem;
}
.section__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
  position: relative;
  font-weight: 700;
  display: inline-block;
}
.section__h2::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 3.5rem;
  border-radius: 5rem;
  background: rgb(50, 108, 255);
  background: linear-gradient(151deg, rgb(50, 108, 255) 0%, rgb(38, 255, 242) 100%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.7rem);
}
.section__h2::after {
  content: "";
  display: block;
  width: 0.9rem;
  height: 1.5rem;
  background-image: url(images/title-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}
.section__h2-link {
  color: white;
  text-decoration: none;
}
.section__btn {
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  cursor: pointer;
  background: rgb(50, 108, 255);
  background: linear-gradient(151deg, rgb(50, 108, 255) 0%, rgb(38, 255, 242) 100%);
  color: white;
  box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  transition: 0.2s ease box-shadow;
  margin-top: 5.5rem;
}
.section__btn:hover {
  box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

.section-bunner {
  border-bottom: 0.1rem solid #2F2F2F;
  position: relative;
  overflow: hidden;
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background-color: black;
  box-shadow: 100px 0px 100px black;
}
.banner__title {
  font-family: "Marcellus", serif;
  line-height: 7.5rem;
  font-size: 8rem;
}
.banner__text {
  color: #c2c2c2;
  font-size: 1.8rem;
  line-height: 1.6;
}
.banner__info {
  font-weight: 800;
  margin-bottom: 2.9rem;
}
.banner__info_year {
  margin-right: 1.8rem;
}
.banner__info_age {
  display: inline-block;
  margin-right: 1.8rem;
  position: relative;
  border: 2px solid linear-gradient(151deg, rgb(50, 108, 255) 0%, rgb(38, 255, 242) 100%);
  width: 6rem;
  text-align: center;
}
.banner__info_age::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.4rem;
  background-image: url(images/age.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}
.banner__info_time {
  margin-right: 6.1rem;
}
.banner__info_rating {
  position: relative;
}
.banner__info_rating::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(images/star.svg);
  margin-left: 1rem;
  position: absolute;
  top: 0;
  right: -2.6rem;
}
.banner-control {
  margin-top: 3.1rem;
}
.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  cursor: pointer;
}
.banner-control__btn-link {
  color: black;
  text-decoration: none;
}
.banner-control__btn-link_first {
  color: white;
}
.banner-control__btn-link_second:hover {
  color: white;
}
.banner-control__btn_main {
  background: rgb(50, 108, 255);
  background: linear-gradient(151deg, rgb(50, 108, 255) 0%, rgb(38, 255, 242) 100%);
  padding: 1.5rem 3rem;
  color: white;
  position: relative;
  padding-left: 6rem;
  margin-right: 3rem;
  box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  transition: 0.2s ease box-shadow;
}
.banner-control__btn_main:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 150px rgba(50, 108, 255, 0.5);
}
.banner-control__btn_main::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(images/play.svg);
  position: absolute;
  top: calc(50% - 0.9rem);
  left: 3rem;
}
.banner-control__btn_more {
  background-color: white;
  color: #323232;
  transition: 0.4s ease-in-out background-color;
}
.banner-control__btn_more:hover {
  color: white;
  background-color: transparent;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movies__item {
  box-shadow: 0px 0px 0px rgba(44, 176, 249, 0);
  transition: 0.2s ease box-shadow;
  border-radius: 2rem;
  flex: 0 0 14%;
}
.movies__item:hover {
  box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
}
.movies__link {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30.9rem;
  display: block;
  border-radius: 2rem;
}
.movies__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=style.css.map */